{% extends "_base.html" %}

{% load static i18n %}

{% block title %}{{ page_title}}{% endblock title %}

{% block content %}

{{ project.name }}
<div class="swiper-slide">
    <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
    <div class="image-holder">
        <img src="{{ project.cover_image.url }}" alt="product-item" class="product-image img-fluid">
    </div>
    <div class="cart-concern">
        <h3 class="card-title text-uppercase pt-3 text-primary">
        <a href="single-product.html" class="text-primary">{{ project.name }}</a>
        </h3>
        <div class="cart-info">
        <a class="pseudo-text-effect" href="#" data-after="DETAILS"><span>{{ project.category }}</span></a>
        </div>
    </div>
    </div>
</div>
  
{% endblock %}
