{% extends "_base.html" %}

{% load static i18n %}

{% block title %}{{ page_title}}{% endblock title %}

{% block content %}

<section id="featured-projects" class="product-store position-relative padding-large">
  <div class="container-fluid">
    <div class="row">
      <div class="display-header pb-3 d-flex justify-content-between flex-wrap col-md-12">
        <h2 class="display-2 text-dark text-uppercase">{% trans "Our Featured Projects" %}</h2> 
        <a href="{% url 'projects:projects_list' %}" class="btn btn-medium btn-arrow btn-normal position-relative">
          <span class="text-uppercase">{% trans "See All" %}</span>            
          <svg class="arrow-right position-absolute" width="18" height="20">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="featured-swiper" class="product-swiper col-md-12">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for project in projects %}               
            
            <div class="swiper-slide">
              <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
                <div class="image-holder">
                  <img src="{{ project.cover_image.url }}" alt="product-item" class="product-image img-fluid">
                </div>
                <div class="cart-concern">
                  <h3 class="card-title text-uppercase pt-3 text-primary">
                    <a href="{% url 'projects:project_details' project.slug %}" class="text-primary">{{ project.name }}</a>
                  </h3>
                  <div class="cart-info">
                    <a class="pseudo-text-effect" href="{% url 'projects:project_details' project.slug %}" data-after="DETAILS"><span>{{ project.category }}</span></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            
            
          </div>
        </div>
        <div class="swiper-pagination text-center mt-5"></div>
      </div>
    </div>
  </div>      
</section>
  

{% endblock %}


{% block script %}

{% endblock script %}