{% extends "_base.html" %}
{% block title %}{{ page_title }}{% endblock title %}
{% block content %}
<div class="container">
    {{ logs_stat }}

    <div>
        <span class="m-1 d-inline-block">Base:</span>
        <a href="{% url 'analytics:analytics_home_filter' base=None lan=lan filter=None date=date device=device %}" class="btn btn-sm {% if base == 'None' or base == None %}btn-success{% else %}btn-outline-secondary{% endif %}">URL</a>
        <a href="{% url 'analytics:analytics_home_filter' base='ip' lan=lan filter=None date=date device=device %}" class="btn btn-sm {% if base == 'ip' %}btn-success{% else %}btn-outline-secondary{% endif %}">IP</a>
        <br>
        <span class="m-1 d-inline-block">Language:</span>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan='en' filter=filter date=date device=device %}" class="btn btn-sm {% if lan == 'en' %}btn-success{% else %}btn-outline-secondary{% endif %}">En</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan='fa' filter=filter date=date device=device %}" class="btn btn-sm {% if lan == 'fa' %}btn-success{% else %}btn-outline-secondary{% endif %}">Fa</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan='all' filter=filter date=date device=device %}" class="btn btn-sm {% if lan == 'all' %}btn-success{% else %}btn-outline-secondary{% endif %}">All</a>
        <br>
        <span class="m-1 d-inline-block">Page:</span>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=None date=date device=device %}" class="btn btn-sm {% if filter == 'None' or filter == None %}btn-success{% else %}btn-outline-secondary{% endif %}">All</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter='home' date=date device=device %}" class="btn btn-sm {% if filter == 'home' %}btn-success{% else %}btn-outline-secondary{% endif %}">home</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter='store' date=date device=device %}" class="btn btn-sm {% if filter == 'store' %}btn-success{% else %}btn-outline-secondary{% endif %}">store</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter='office' date=date device=device %}" class="btn btn-sm {% if filter == 'office' %}btn-success{% else %}btn-outline-secondary{% endif %}">office</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter='restaurant' date=date device=device %}" class="btn btn-sm {% if filter == 'restaurant' %}btn-success{% else %}btn-outline-secondary{% endif %}">restaurant</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter='residential' date=date device=device %}" class="btn btn-sm {% if filter == 'residential' %}btn-success{% else %}btn-outline-secondary{% endif %}">residential</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter='exhibition' date=date device=device %}" class="btn btn-sm {% if filter == 'exhibition' %}btn-success{% else %}btn-outline-secondary{% endif %}">exhibition</a>
        
        <br>
        <span class="m-1 d-inline-block">Device</span>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=None date=date %}" class="btn btn-sm {% if device == 'None' or device == None %}btn-success{% else %}btn-outline-secondary{% endif %}">All</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device='mobile' date=date %}" class="btn btn-sm {% if device == 'mobile' %}btn-success{% else %}btn-outline-secondary{% endif %}">mobile</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device='tablet' date=date %}" class="btn btn-sm {% if device == 'tablet' %}btn-success{% else %}btn-outline-secondary{% endif %}">tablet</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device='desktop' date=date %}" class="btn btn-sm {% if device == 'desktop' %}btn-success{% else %}btn-outline-secondary{% endif %}">desktop</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device='bot' date=date %}" class="btn btn-sm {% if device == 'bot' %}btn-success{% else %}btn-outline-secondary{% endif %}">bot</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device='NA' date=date %}" class="btn btn-sm {% if device == 'NA' %}btn-success{% else %}btn-outline-secondary{% endif %}">NA</a>
        
        <br>
        <span class="m-1 d-inline-block">Date</span>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date=None %}" class="btn btn-sm {% if date == 'None' or date == None %}btn-success{% else %}btn-outline-secondary{% endif %}">All</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-21' %}" class="btn btn-sm {% if date == '2025-03-21' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-21</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-22' %}" class="btn btn-sm {% if date == '2025-03-22' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-22</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-23' %}" class="btn btn-sm {% if date == '2025-03-23' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-23</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-24' %}" class="btn btn-sm {% if date == '2025-03-24' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-24</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-25' %}" class="btn btn-sm {% if date == '2025-03-25' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-25</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-26' %}" class="btn btn-sm {% if date == '2025-03-26' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-26</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-27' %}" class="btn btn-sm {% if date == '2025-03-27' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-27</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-28' %}" class="btn btn-sm {% if date == '2025-03-28' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-28</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-29' %}" class="btn btn-sm {% if date == '2025-03-29' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-29</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-30' %}" class="btn btn-sm {% if date == '2025-03-30' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-30</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-03-31' %}" class="btn btn-sm {% if date == '2025-03-31' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-03-31</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-04-01' %}" class="btn btn-sm {% if date == '2025-04-01' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-04-01</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-04-02' %}" class="btn btn-sm {% if date == '2025-04-02' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-04-02</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-04-03' %}" class="btn btn-sm {% if date == '2025-04-03' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-04-03</a>
        <a href="{% url 'analytics:analytics_home_filter' base=base lan=lan filter=filter device=device date='2025-04-04' %}" class="btn btn-sm {% if date == '2025-04-04' %}btn-success{% else %}btn-outline-secondary{% endif %}">2025-04-04</a>

    </div>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>id</th>
        <th>count</th>
        <th>ip</th>
        <th>time stamp</th>
        <th>url</th>
    </thead>
    <tbody>
        
        {% for log in logs %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ log.id }}</td>
            <td>
                {% if log.url_count %}
                {{ log.url_count }}
                {% elif log.ip_count %}                  
                {{ log.ip_count }}
                {% endif %}
            </td>
            <td>{{ log.ip_address }}</td>
            <td>{{ log.datetime }}</td>
            <td><a href="{{ log.requested_url }}" target="_blank">{{ log.requested_url }}</a></td>
            
        </tr>
        {% endfor %}
        
    </tbody>
    
</table>

</div>
{% endblock content %}