{% load static i18n %}
<div class="container-fluid" >
    <div class="row">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3 pe-4">
                <div class="footer-menu">
                    <img src="{% static 'images/main-logo-2.png' %}" alt="{% trans 'InEx Design Logo' %}" class="pb-3" height="80px" width="auto">
                    <p></p>
                </div>
                <div>
                    <p>{% trans "Mahmoud Rahmatollahi studied Industrial design and has more than 20 years of experience in interior and extrior design. He is expert in Stores and comercial spaces and has lot of experience in Exhibition stand design." %}</p>
                </div>
                <div class="copyright">
                    <p>{% trans "All right reserved to inex-design.com" %}
                        <br>(© Copyright 2025). {% trans "Design by" %} <a href="https://rahimagha.ir">rahim</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-menu contact-item">
                    <h5 class="widget-title text-uppercase pb-2">{% trans "Contact Us" %}</h5>
                    <p><a href="tel:+989123382562" dir="ltr">+ 98 912 338 25 62</a></p>
                    <p><a href="tel:+982122174635" dir="ltr">+ 98 21 2217 46 35</a></p>
                    <p><a href="https://www.instagram.com/mahmoudrahmatollahi" rel="nofollow" alt="{% trans 'Instagram Mahmoud Rahmatollahi' %}">
                        <img src="{% static 'images/instagram-logo.jpeg' %}" alt="instagram-logo" width="24px" height="auto">
                        {% trans 'Mahmoud Rahmatollahi on Instagram' %}
                    </a></p>
                    <p><a href="mailto:">mahmoud.rahmatollahi@gmail.com</a></p>
                    <p>{% trans "Tehran, Iran" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>