{% load static i18n %}
<nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3" style="background-color: #ececec;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'generals:home' %}">
            <img src="{% static 'images/main-logo-2.png' %}" alt="{% trans 'InEx Design Logo' %}" class="logo" height="60px" width="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <svg class="navbar-icon" width="50" height="50">
                <use xlink:href="#navbar-icon"></use>
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="bdNavbar">
            <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link me-4" href="{% url 'generals:home' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownPages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% translate "Projects" %}</a>
                    <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                        {% for category in categories_context %}
                        <li>
                            <a href="{% url 'projects:projects_list_category' category.slug %}" class="dropdown-item item-anchor">{{ category.translations__name }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="{% url 'projects:projects_list' %}" class="dropdown-item item-anchor">{% trans "All" %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item me-4">
                    {% if LANGUAGE_CODE == 'en' %}
                    <form action="{% url 'set_language' %}" method="post" class="me-2">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                        <input name="language" type="hidden" value="fa">
                        <button type="submit" class="btn btn-link nav-link p-0 text-muted">fa 🇮🇷</button>
                    </form>
                    {% elif LANGUAGE_CODE == 'fa' %}
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                        <input name="language" type="hidden" value="en">
                        <button type="submit" class="btn btn-link nav-link p-0 text-muted">en 🇬🇧</button>
                    </form>
                    {% endif %}
                </li>

                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link me-4" href="{% url 'rosetta-old-home-redirect' %}" target="_blank">Rosetta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4" href="{% url 'admin:index' %}" target="_blank">Admin</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
