{% extends "_base.html" %}

{% load static i18n %}

{% block title %}{{ page_title}}{% endblock title %}

{% block head %}
  <style>
    .product-image {
    width: 100%;      /* Make the image full width */
    height: 300px;   /* Set a fixed height for the images */
    object-fit: cover; /* Let the image cover the area while maintaining aspect ratio */
    display: block;   /* Block display to support margin auto for centering */
    margin: auto;     /* Center the image horizontally if any space is available */
}

.image-container {
    display: flex;      /* Use flex to center content vertically */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally (if needed) */
    height: auto;     /* Ensure this matches the height used above */
    width: 100%;
}
</style>
{% endblock head %}

{% block content %}
  
<section id="billboard" class="overflow-hidden">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="banner-item">
                <div class="banner-content padding-large">
                  <h1 class="display-1 text-uppercase text-dark pb-2">{% trans "Interior design" %}</h1>
                  <p>{% trans "Transform your space with our expert interior design services. We specialize in creating harmonious environments that reflect your unique style and enhance functionality. From concept to completion, our team blends aesthetics with practicality, ensuring every detail is tailored to your needs. Discover the art of living beautifully with us today" %}!
                  </p>                                         
                  <a href="{% url 'projects:projects_list' %}" class="btn btn-medium btn-arrow position-relative mt-5">
                    <span class="text-uppercase">{% trans "See projects" %}</span>            
                    <svg class="arrow-right position-absolute" width="18" height="20">
                      <use xlink:href="#arrow-right"></use>
                    </svg>
                  </a>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="banner-item banner-item-2">
                <div class="banner-content padding-large">
                  <h1 class="display-1 text-uppercase text-dark pb-2">{% trans 'Exterior design' %}</h1>
                  <p>{% trans "Elevate your property’s curb appeal with our exceptional exterior design services. We specialize in crafting stunning facades and outdoor spaces that harmonize with nature and your lifestyle. From landscaping to architectural enhancements, our team creates inviting environments that reflect your vision. Transform your home’s exterior into a masterpiece today" %}!</p>
                  <a href="{% url 'projects:projects_list' %}" class="btn btn-medium btn-arrow position-relative mt-5">
                    <span class="text-uppercase">{% trans "See projects" %}</span>            
                    <svg class="arrow-right position-absolute" width="18" height="20">
                      <use xlink:href="#arrow-right"></use>
                    </svg>
                  </a>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="swiper-pagination position-absolute"></div>
</section>

<section id="company-services" class="padding-large">
</section>
<section id="about-us">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between g-5">
      <div class="col-lg-6">
        <div class="image-holder mb-4 jarallax">
            <img src="{% static 'images/about-us-m-2.jpg' %}" alt="single" class="img-fluid jarallax-img">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="detail p-5">
          <div class="display-header">
            <h2 class="display-2 text-uppercase text-dark pb-2">{% trans "About us" %}</h2>
            <p class="pb-3"><span class="lead">{% trans "Mahmoud Rahmatollahi" %}</span> {% trans "is a seasoned interior and exterior designer with over 20 years of experience. Renowned for his innovative designs, he leads a skilled team specializing in construction and renovation." %}</p>
            <p>{% trans "Together, they transform spaces into stunning environments, blending functionality with aesthetics to create unique, personalized settings for every client." %}</p>
            {% comment %}
            <a href="about-us.html" class="btn btn-medium btn-arrow outline-dark position-relative mt-3">
                
              <span class="text-uppercase">About us</span>            
              <svg class="arrow-right position-absolute" width="18" height="20">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </a>  
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "projects/_projects_block.html" with header_text=projects_header_text %}

<section id="testimonials" class="position-relative">
  <div class="container">
    <div class="row">
      <div class="review-content position-relative">
        <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center justify-content-center">
          <svg class="icon-arrow" width="25" height="25">
            <use xlink:href="#arrow-left" />
          </svg>
        </div>
        <div class="swiper testimonial-swiper">
          <div class="quotation text-center">
            <svg class="quote">
              <use xlink:href="#quote" />
            </svg>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-10">
                <i class="icon icon-review"></i>
                <blockquote class="fs-4">“{% trans 'Architecture is the learned game, correct and magnificent, of forms assembled in the light.' %}”</blockquote>
                <div class="author-detail">
                  <div class="name text-primary text-uppercase pt-2">{% trans "Le Corbusier" %}</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-10">
                <i class="icon icon-review"></i>
                <blockquote class="fs-4">“{% trans 'Good design is a lot like clear thinking made visual' %}.”</blockquote>
                <div class="author-detail">
                  <div class="name text-primary text-uppercase pt-2">{% trans "Ellen Lupton" %}</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-10">
                <i class="icon icon-review"></i>
                <blockquote class="fs-4">“{% trans 'Architecture is the art of how to waste space' %}.”</blockquote>
                <div class="author-detail">
                  <div class="name text-primary text-uppercase pt-2">{% trans "Philip Johnson" %}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center justify-content-center">
          <svg class="icon-arrow" width="25" height="25">
            <use xlink:href="#arrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>      
  <div class="swiper-pagination text-center position-absolute"></div>
</section>
<section id="brand-collection" class="padding-small border-top border-bottom overflow-hidden margin-large mb-0 bg-light">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
      {% for client in clients %}
      <div class="text-center">
        <a href="#"><img src="{{ client.logo.url }}" class="rounded" alt="{{ client }}" height="60px" width="auto"></a>
        <br>
        <span class="text-muted">{{ client }}</span>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>

{% endblock content %}

{% block script %}  
<script>
  if (isRTL) {
    document.getElementById('billboard').classList.add('rtl');
    document.getElementById('billboard').classList.remove('ltr');
    console.log('RTL');
  } else {
    document.getElementById('billboard').classList.add('ltr');
    document.getElementById('billboard').classList.remove('rtl');
    console.log('No RTL');
}
</script>
{% endblock script %}
